.App {
  height: 100vh;
}
.sections {
  width: 100%;
  height: calc(100vh - 70px);
  /* background-color: lightsalmon; */
  scroll-behavior: smooth;
  position: relative;
  top: 12px;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;

  /* scroll-snap-align: hidden; */
}
::-webkit-scrollbar {
  display: none;
}
.sections > * {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}
